<app-header></app-header>

  <div class="main-container">
  <div class="movies-list">
      <div *ngFor = "let movie of movies" class="movie">
        <figure> 
           <a [routerLink]="['/movie-details', { id: movie.id, name: movie.name, description: movie.description, price: movie.price, imageUrl: movie.imageUrl, quantity: movie.quantity }]"> <img src="{{movie.imageUrl}}" alt="movie poster"></a>
          </figure>
          <span class="title">{{movie.id}}</span>
          <span class="rate">{{movie.name}}</span>
      </div>
</div>
</div>